h1 {
  font-family: var(--header-font);
  color: var(--main-color);
}
table {
  background-color: var(--background-color) !important;
}
.fa-heart {
  font-size: 60px;
  color: var(--main-color);
}
th {
  text-align: center;
}
td {
  font-size: 1.0625rem;
  vertical-align: middle;
  color: var(--header-color);
}
.img-w {
  width: 150px;
  height: 150px;
}
.stock {
  color: var(--main-color);
}
button {
  background-color: var(--main-color);
}
button:hover {
  background-color: var(--hover-color);
}
.remove:hover {
  background-color: rgb(220, 53, 69);
  color: white !important;
}
