.navbar-brand {
  font-family: var(--header-font) !important;
  color: var(--header-color) !important;
}
.nav-link {
  color: var(--header-color);
  transition: all 0.3s ease;
  font-weight: 500;
}
.nav-item {
  transition: all 0.3s ease;
}
.nav-item:hover {
  background-color: #495a28;
}
.nav-item:hover .nav-link {
  color: white;
}
.nav-link.active {
  background-color: #495a28 !important;
  color: white !important;
}
