::placeholder {
  font-size: 0.875rem;
  padding-left: 7px;
}
h1,
h3 {
  font-family: var(--header-font);
  color: var(--main-color);
}
h5 {
  color: rgb(64, 69, 83);
  font-family: var(--minor-font);
}
h4 {
  font-family: var(--header-font);
  color: var(--main-color);
}
table {
  background-color: var(--background-color) !important;
}
.fa-cart-shopping {
  font-size: 60px;
  color: var(--main-color);
}

th {
  text-align: center;
  vertical-align: middle !important;
}
td {
  vertical-align: middle !important;
  color: var(--header-color);
}
.img-w {
  width: 100px;
  max-width: 100%;
  height: auto;
}
.stock {
  color: var(--main-color);
}
.add {
  background-color: var(--main-color);
}
.add:hover {
  background-color: var(--hover-color);
}
.remove:hover {
  background-color: rgb(220, 53, 69);
  color: white !important;
}
.coup-btn {
  background-color: var(--main-color);
}
.coup-btn:hover {
  background-color: var(--hover-color);
}
.coup {
  border: none;
}
.coup:focus {
  border: none;
  outline: none;
  box-shadow: none !important;
}
.sh {
  color: var(--header-color);
}
.total span {
  color: var(--header-color);
}
.checkout {
  background-color: var(--main-color);
}
.checkout:hover {
  background-color: var(--hover-color);
}
