::placeholder {
  font-size: 0.875rem;
  padding-left: 7px;
}
h1,
h3,
.order-title {
  font-family: var(--header-font);
  color: var(--main-color);
}
.fa-clipboard-check {
  font-size: 60px;
  color: var(--main-color);
}
td {
  color: var(--header-color);
  vertical-align: middle !important;
}
.img-w {
  width: 200px;
  max-width: 100%;
  height: auto;
}
.cat-name {
  color: var(--main-color);
}
h2,
h5 {
  font-family: var(--minor-font);
}
h2,
p {
  color: var(--header-color);
}
.id-num {
  color: var(--header-color);
  font-family: var(--minor-font);
}
.shipping-address h4,
.payment h4,
.taxes-and-fees h4 {
  font-family: var(--header-font);
  color: var(--main-color);
}
.t {
  color: var(--header-color);
}
.total h4 {
  color: var(--main-color);
  font-family: var(--header-font);
}
.prod-name {
  font-family: var(--minor-font);
  color: var(--header-color);
}
