<div class="bg d-flex justify-content-center align-items-center vh-100 pt-5">
  <div class="container">
    <div class="row bg-body-tertiary rounded-3 p-4 align-items-center">
      <div class="col-md-4 p-0">
        <div uk-slider>
          <div
            class="uk-position-relative uk-visible-toggle uk-light uk-slider"
            tabindex="-1"
          >
            <div
              class="uk-slider-items uk-grid uk-grid-match"
              uk-height-viewport=" offset-bottom: 40"
            >
              <div class="uk-width-1">
                <div class="uk-cover-container rounded-3">
                  <img
                    [src]="detailsProduct.imageCover"
                    [alt]="
                      detailsProduct.title.split(' ').slice(0, 3).join(' ')
                    "
                    uk-cover
                    class="rounded-3 object-fit-cover"
                  />
                </div>
              </div>
              <div class="uk-width-1">
                <div class="uk-cover-container rounded-3">
                  <img
                    [src]="detailsProduct.images[1]"
                    [alt]="
                      detailsProduct.title.split(' ').slice(0, 3).join(' ')
                    "
                    uk-cover
                    class="rounded-3 object-fit-cover w-100"
                  />
                </div>
              </div>
              <div class="uk-width-1">
                <div class="uk-cover-container rounded-3">
                  <img
                    [src]="detailsProduct.images[2]"
                    [alt]="
                      detailsProduct.title.split(' ').slice(0, 3).join(' ')
                    "
                    uk-cover
                    class="rounded-3 object-fit-cover w-100"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center pt-3">
            <ul class="uk-slider-nav uk-dotnav"></ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="prod-details p-2">
          <p class="cat-name m-0 p-0">{{ detailsProduct.category.name }}</p>
          <h2 class="prod-name text-capitalize mb-1 mt-0">
            {{ detailsProduct.title.split(" ").slice(0, 3).join(" ") }}
          </h2>
          <div class="m-0 p-0 des">{{ detailsProduct.description }}.</div>
          <div
            class="price d-flex justify-content-between align-items-center py-4"
          >
            <span class="fw-semibold">{{ detailsProduct.price }} EGP</span>
            <div
              class="rating d-flex align-items-center justify-content-between"
            >
              <div class="pe-2 fw-semibold avg">
                {{ detailsProduct.ratingsAverage }}
              </div>
              <span
                ><i class="fa-solid fa-star" style="color: #ffd43b"></i
              ></span>
            </div>
          </div>
          <div
            class="buttons d-flex justify-content-between align-items-center pt-1"
          >
            <button
              class="btn add rounded-3 px-3 py-2 border-0 text-white"
              (click)="addCart(detailsProduct.id)"
            >
              <i class="fa-solid fa-plus pe-1"></i>Add to Cart
            </button>
            <button
              class="btn border-0 p-0"
              (click)="
                addWishlist(detailsProduct.id);
                toggleWishlistIcon($event, detailsProduct.id)
              "
            >
              <i #myElement class="fa-regular fa-heart fa-xl"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
