.bg {
  background-color: var(--background-color);
}
.add {
  background-color: var(--main-color);
}
.add:hover {
  background-color: var(--hover-color);
}
.cat-name {
  color: var(--main-color);
}
h2 {
  font-family: var(--header-font);
  color: var(--header-color);
}
.des {
  color: grey;
}
.price > span,
.price .avg {
  color: var(--header-color);
}
